<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.imad.Chess_Timer"
        versionCode = "17" 
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Chess Timer</name>

    <description>
        Chess Timer is an counter for real Chess game . 
    </description>

    <author href="https://imad-kh.tk" email="imadelkholti@gmail.com">
        Imad El kholti
    </author>
<icon src="icon.png" />

<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<gap:splash src="splash.jpg" />
<!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
</widget>
